<div class="frontpost">
    <a class="frontpost-url" href="{{url}}">
        <header class="frontpost-header">
            <h2>{{title}}</h2>
        </header>
        <section class="frontpost-excerpt">
            <p>{{excerpt words="150"}}</p>
        </section>
    </a>
    <footer class="frontpost-footer">
        <span class="frontpost-author">{{author}}</span>
    </footer>
</div>
