@import 'global.css';
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
    background: #f4f8fb;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}

.site-header {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
    background: color(var(--darkgrey) l(-5%)) no-repeat center center;
    background-size: cover;
}
.site-header:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    background: rgba(0,0,0,0.18);
}

.site-header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 10;
    display: block;
    height: 80px;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0));
}

/* Site Navigation */

.site-nav {
    position: relative;
    z-index: 300;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 40px;
    overflow-y: hidden;
    font-size: 1.2rem;
}

.site-nav-left {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: 10px;
    padding-bottom: 80px;
    letter-spacing: 0.4px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
}
.site-nav-logo {
    flex-shrink: 0;
    display: block;
    margin-right: 24px;
    padding: 11px 0;
    color: #fff;
    font-size: 1.7rem;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.site-nav-logo:hover {
    text-decoration: none;
}

.site-nav-logo img {
    display: block;
    width: auto;
    height: 21px;
}

.nav {
    display: flex;
    margin: 0 0 0 -12px;
    padding: 0;
    list-style: none;
}

.nav li {
    display: block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.nav li a {
    display: block;
    margin: 0;
    padding: 10px 12px;
    color: #fff;
    font-family: sans-serif;
    opacity: 0.8;
}

.nav li a:hover {
    text-decoration: none;
    opacity: 1;
}

.site-nav-right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 40px;
}

.social-links {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.social-links a:last-of-type {
    padding-right: 20px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    color: #fff;
    opacity: 0.8;
}

.social-link:hover {
    opacity: 1;
}

.social-link svg {
    height: 1.8rem;
    fill: #fff;
}

.social-link-fb svg {
    height: 1.5rem;
}

.social-link-wb svg {
    height: 1.6rem;
}

.social-link-wb svg path {
    stroke: #fff;
}

.social-link-rss svg {
    height: 1.9rem;
}

.subscribe-button {
    display: block;
    padding: 4px 10px;
    border: #fff 1px solid;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1em;
    border-radius: 10px;
    opacity: 0.8;
}

.subscribe-button:hover {
    text-decoration: none;
    opacity: 1;
}

.rss-button {
    opacity: 0.8;
}

.rss-button:hover {
    opacity: 1;
}

.rss-button svg {
    height: 2.1rem;
    margin-bottom: 1px;
    fill: #fff;
}
@media (max-width: 700px) {
    .site-header {
        padding-right: 0;
        padding-left: 0;
    }
    .site-nav-left {
        margin-right: 0;
        padding-left: 4vw;
    }
    .site-nav-right {
        display: none;
    }
}

/* Front Posts */

.post-feed {
    padding-top: 40px;
}

.frontpost {
    display: block;
    overflow: hidden;
    margin: 0 20px 40px;
    background: #fff center center;
    border-radius: 5px;
    box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
}
.frontpost-url {
    position: relative;
    display: block;
    padding: 25px 25px 0;
    color: var(--darkgrey);
}
.frontpost-url:hover {
    text-decoration: none;
}
.frontpost-header {
    margin: 0;
}
.frontpost-footer {
    padding: 0 25px 25px;
}
.frontpost-author {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    float: left;
}
.frontpost-time {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    float: right;
}

/* Full Post Styling */

.post-full {
    position: relative;
    z-index: 50;
}
.postfull-header {
    max-width: 1040px;
    margin: 0 auto;
    padding: 7vw 3vw 3vw;
    text-align: center;
}
@media (max-width: 500px) {
    .post-full-header {
        padding: 14vw 3vw 10vw;
    }
}
.postfull-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--midgrey);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}
.postfull-meta-date {
    color: var(--blue);
}
.postfull-title {
    font-family: 'Merriweather', serif;
    margin: 0;
    color: color(var(--darkgrey) l(-5%));
}
.date-divider {
    display: inline-block;
    margin: 0 6px 1px;
}
.postfull-content {
    position: relative;
    min-height: 230px;
    margin: 0 auto;
    padding: 70px 100px 0;
    font-family: sans-serif;
    font-size: 2.2rem;
    line-height: 1.6em;
    background: #fff;
}
@media (max-width: 1170px) {
    .postfull-content {
        padding: 5vw 7vw 0;
    }
}
@media (max-width: 800px) {
    .postfull-content {
        font-size: 1.9rem;
    }
}

.postfull-content:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -5px;
    z-index: -1;
    display: block;
    width: 20px;
    height: 200px;
    background: rgba(39,44,49,0.15);
    filter: blur(5px);
    transform: rotate(-5deg);
}

.postfull-content:after {
    content: "";
    position: absolute;
    top: 15px;
    right: -5px;
    z-index: -1;
    display: block;
    width: 20px;
    height: 200px;
    background: rgba(39,44,49,0.15);
    filter: blur(5px);
    transform: rotate(5deg);
}
.postfull-content h1,
.postfull-content h2,
.postfull-content h3,
.postfull-content h4,
.postfull-content h5,
.postfull-content h6,
.postfull-content p,
.postfull-content ul,
.postfull-content ol,
.postfull-content dl,
.postfull-content pre,
.postfull-content blockquote,
.post-full-comments,
.footnotes {
    min-width: 100%;
}

.postfull-content li {
    word-break: break-word;
}

.postfull-content li p {
    margin: 0;
}
.post-template .kg-card-markdown > p:first-child {
    font-size: 1.25em;
    line-height: 1.5em;
}

.postfull-content a {
    color: #000;
    box-shadow: var(--blue) 0 -1px 0 inset;
}

.postfull-content a:hover {
    color: var(--blue);
    text-decoration: none;
}

.postfull-content strong,
.postfull-content em {
    color: color(var(--darkgrey) l(-5%));
}

.postfull-content small {
    display: inline-block;
    line-height: 1.6em;
}

.postfull-content li:first-child {
    margin-top: 0;
}

.postfull-content img,
.postfull-content video {
    display: block;
    max-width: 1040px;
    margin: 1.5em auto;
}
@media (max-width: 1040px) {
    .postfull-content img,
    .postfull-content video {
        width: 100%;
    }
}
.postfull-content img[src$="#full"] {
    width: 100vw;
    max-width: none;
}
.postfull-content img + br + small {
    display: block;
    margin-top: -3em;
    margin-bottom: 1.5em;
}


.postfull-content iframe {
    margin: 0 auto;
}

.postfull-content blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: #3eb0ef 3px solid;
}

.postfull-content blockquote p {
    margin: 0 0 1em 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
}

.postfull-content blockquote p:last-child {
    margin-bottom: 0;
}

.postfull-content code {
    padding: 0 5px 2px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 400!important;
    background: var(--whitegrey);
    border-radius: 3px;
}

.postfull-content pre {
    max-width: 100%;
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    border: color(var(--darkgrey) l(-10%)) 1px solid;
    color: var(--whitegrey);
    font-size: 1.4rem;
    line-height: 1.5em;
    background: color(var(--darkgrey) l(-3%));
    border-radius: 5px;
}

.postfull-content pre code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
}

.postfull-content .fluid-width-video-wrapper {
    margin: 1.5em 0 3em;
}

.postfull-content hr {
    margin: 4vw 0;
}

.postfull-content hr:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    display: block;
    width: 1px;
    height: 30px;
    margin-left: -10px;
    background: color(var(--lightgrey) l(+10%));
    box-shadow: #fff 0 0 0 5px;
    transform: rotate(45deg);
}

.postfull-content h1,
.postfull-content h2,
.postfull-content h3,
.postfull-content h4,
.postfull-content h5,
.postfull-content h6 {
    color: color(var(--darkgrey) l(-5%));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.postfull-content h1 {
    margin: 0.5em 0 0.2em 0;
    font-size: 4.6rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .postfull-content h1 {
        font-size: 2.8rem;
    }
}

.postfull-content h2 {
    margin: 0.5em 0 0.2em 0;
    font-size: 3.6rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .postfull-content h2 {
        font-size: 2.6rem;
    }
}

.postfull-content h3 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2.8rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .postfull-content h3 {
        font-size: 2.2rem;
    }
}

.postfull-content h4 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2.8rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .postfull-content h4 {
        font-size: 2.2rem;
    }
}

.postfull-content h5 {
    display: block;
    margin: 0.5em 0;
    padding: 1em 0 1.5em;
    border: 0;
    color: var(--blue);
    font-family: Georgia,serif;
    font-size: 3.2rem;
    line-height: 1.35em;
    text-align: center;
}
@media (min-width: 1180px) {
    .postfull-content h5 {
        width: 100vw;
        max-width: 1060px;
    }
}
@media (max-width: 500px) {
    .postfull-content h5 {
        padding: 0 0 0.5em;
        font-size: 2.2rem;
    }
}

.postfull-content h6 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2.3rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .postfull-content h6 {
        font-size: 2rem;
    }
}
@media (max-width: 500px) {
    .post-full-meta {
        font-size: 1.2rem;
        line-height: 1.3em;
    }
    .post-full-title {
        font-size: 2.9rem;
    }
    .post-full-image {
        height: 350px;
        margin-bottom: 4vw;
    }
    .postfull-content {
        padding: 0;
    }
    .postfull-content:before,
    .postfull-content:after {
        display: none;
    }
}
.postfull-content table {
    display: inline-block;
    width: auto;
    max-width: 100%;
    overflow-x: auto;
    margin: 0.5em 0 2.5em;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: top;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    white-space: nowrap;
}

.postfull-content table {
    background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
    -webkit-overflow-scrolling: touch;
}

.postfull-content table td:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.postfull-content table td:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-size: 20px 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
}

.postfull-content table th {
    color: var(--darkgrey);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: left;
    text-transform: uppercase;
    background-color: color(var(--whitegrey) l(+4%));
}

.postfull-content table th,
.postfull-content table td {
    padding: 6px 12px;
    border: color(var(--whitegrey) l(-1%) s(-5%)) 1px solid;
}

/* Full Post Footer */

.postfull-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 840px;
    margin: 0 auto;
    padding: 3vw 0 6vw 0;
}
.author-card {
    display: flex;
    align-items: center;
}

.author-card .author-profile-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.author-card-name {
    margin: 0 0 2px 0;
    padding: 0;
    font-size: 2rem;
}

.author-card-name a {
    color: var(--darkgrey);
    font-weight: 700;
}

.author-card-name a:hover {
    text-decoration: none;
}

.author-card-content p {
    margin: 0;
    color: var(--midgrey);
    line-height: 1.3em;
}

.post-full-footer-right {
    flex-shrink: 0;
    margin-left: 20px;
}

.author-card-button {
    display: block;
    padding: 9px 16px;
    border: color(var(--midgrey) l(+20%)) 1px solid;
    color: var(--midgrey);
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    border-radius: 20px;
    transition: all ease 0.2s;
}

.author-card-button:hover {
    border-color: var(--blue);
    color: var(--blue);
    text-decoration: none;
}

/* Author Page */
.site-header-content .author-profile-image {
    z-index: 10;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    margin: 0 0 20px 0;
    box-shadow: rgba(255,255,255,0.1) 0 0 0 6px;
}

.site-header-content .author-bio {
    z-index: 10;
    flex-shrink: 0;
    max-width: 600px;
    margin: 5px 0 10px 0;
    font-size: 2rem;
    line-height: 1.3em;
    font-weight: 300;
    letter-spacing: 0.5px;
    opacity: 0.8;
}

.site-header-content .author-meta {
    z-index: 10;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    font-family: Georgia, serif;
    font-style: italic;
}

.site-header-content .author-location svg {
    height: 1.9rem;
    stroke: #fff;
}

.site-header-content .bull {
    display: inline-block;
    margin: 0 12px;
    opacity: 0.5;
}

.site-header-content .social-link:first-of-type {
    padding-left: 4px;
}

@media (max-width: 500px) {
    .site-header-content .author-bio {
        font-size: 1.8rem;
        line-height: 1.15em;
        letter-spacing: 0;
    }
    .author-location,
    .author-stats {
        display: none;
    }
}

/* Error Shit */
.error-template .site-main {
    padding: 7vw 4vw;
}

.site-nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.site-nav-center .site-nav-logo {
    margin-right: 0;
}

.error-message {
    text-align: center;
}

.error-code {
    margin: 0;
    font-size: 12vw;
    line-height: 1em;
    letter-spacing: -5px;
    opacity: 0.3;
}

.error-description {
    margin: 0;
    color: var(--midgrey);
    font-size: 3rem;
    line-height: 1.3em;
    font-weight: 400;
}

@media (max-width: 800px) {
    .error-description {
        margin: 5px 0 0 0;
        font-size: 1.8rem;
    }
}

.error-link {
    display: inline-block;
    margin-top: 5px;
}

.error-template .post-feed {
    padding-top: 0;
}

.footer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255,255,255,0.7);
    background: color(var(--darkgrey) l(-15%));
}
.footer a {
    color: rgba(255,255,255,0.7);
}
.footer a:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}
.footer {
    display: flex;
    justify-content: space-between;
}

.footer a {
    position: relative;
}
.footer a+a {
    margin-left: 20px;
}

.footer a:before {
    content: "";
    position: absolute;
    top: 11px;
    left: -11px;
    display: block;
    width: 2px;
    height: 2px;
    background: #fff;
    border-radius: 100%;
}

.footer a:first-of-type:before {
    display: none;
}
@media (max-width: 650px) {
    .site-footer-content {
        flex-direction: column;
    }
    .site-footer-nav a:first-child {
        margin-left: 0;
    }
}
